* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height:200vh;
  background: lightgrey;
}

#box-roma {
  width: 70vw;
  height: 30%;
  background-image: url("https://www.turismoroma.it/sites/default/files/colosseo_slide_0.jpg");
  background-size: cover;
  position: relative;
  margin: 10px;
}

.layover {
  width: 100%;
  height:100%;
  background: rgba(0, 0, 0, 0.6);
}

.titolo {
  color: white;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#box-cop {
  width: 70vw;
  height: 30%;
  background-image: url("https://www.zingarate.com/pictures/2018/06/25/copenaghen_10.jpeg");
  background-size: cover;
  position: relative;
  margin: 10px;
}

#box-tokyo {
  width: 70vw;
  height: 30%;
  background-size: cover;
  background-image: url("https://cdn.marcopolo.tv/960x480/media/post/b4z9ab3/tokyo.jpg");
  background-size: cover;
  position: relative;
  margin: 10px;
}
